[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "tplr"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "bittensor==8.5.1",
    "bt-decode==0.4.0",
    "torch",
    "boto3",
    "einops",
    "aiofiles",
    "aioboto3",
    "aiobotocore",
    "transformers",
    "pip",
    "wandb",
    "python-dotenv",
    "zstandard"
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
