---
env_vars:
  WANDB_API_KEY: ""
  R2_ACCOUNT_ID: ""
  R2_GRADIENTS_ACCOUNT_ID: ""
  R2_GRADIENTS_BUCKET_NAME: ""
  R2_READ_ACCESS_KEY_ID: ""
  R2_READ_SECRET_ACCESS_KEY: ""
  R2_GRADIENTS_READ_ACCESS_KEY_ID: ""
  R2_GRADIENTS_READ_SECRET_ACCESS_KEY: ""
  R2_WRITE_ACCESS_KEY_ID: ""
  R2_WRITE_SECRET_ACCESS_KEY: ""
  R2_GRADIENTS_WRITE_ACCESS_KEY_ID: ""
  R2_GRADIENTS_WRITE_SECRET_ACCESS_KEY: ""
  R2_DATASET_WRITE_ACCESS_KEY_ID: ""
  R2_DATASET_WRITE_SECRET_ACCESS_KEY: ""
  R2_DATASET_ACCOUNT_ID: "80f15715bb0b882c9e967c13e677ed7d"
  R2_DATASET_BUCKET_NAME: "80f15715bb0b882c9e967c13e677ed7d"
  R2_DATASET_READ_ACCESS_KEY_ID: "88548d962edc9a1f4416cbb3453d914a"
  R2_DATASET_READ_SECRET_ACCESS_KEY: "4934ae848465113a75babf7d0a88efd9112aa49296c900744268e91f1d31998f"
  WALLET_NAME: ""
  WALLET_HOTKEY: ""
  NETWORK: "finney"
  NETUID: "3"
  CUDA_DEVICE: ""
  DEBUG: "false"
  GITHUB_USER: ""

# Whether to use Systemd or not
use_systemd: false

# Miner cli parameters
actual_batch_size: 5
device: "cuda"
netuid: "3"
subtensor_network: "finney"
wallet_name: ""
wallet_hotkey: ""

miner_command: >-
  .venv/bin/python neurons/miner.py --actual_batch_size {{ actual_batch_size }}
  --wallet.name {{ wallet_name }} --wallet.hotkey {{ wallet_hotkey }} --device {{ device }}
  --use_wandb --netuid "{{ netuid }}" --subtensor.network "{{ subtensor_network }}" --sync_state

apt_packages:
  - less
  - vim
  - nvtop
  - htop
  - rsync
  - git
  - python3-pip
  - python3-venv
  - zsh

additional_apt_packages: []

# Global pip packages to install (via pip3)
essential_pip_packages:
  - uv

additional_pip_packages: []

# Pip packages to install in .venv with `uv pip`.
additional_uv_pip_packages: []
