#!/bin/env bash

set -x

source .venv/bin/activate

{% for key, value in env_vars.items() %}
export {{ key }}={{ value | quote }}
{% endfor %}

# Instance-specific overrides
export CUDA_DEVICE={{ device | quote }}
export WALLET_HOTKEY={{ wallet_hotkey | quote }}


while true; do
    echo "Starting neurons/miner.py..."
    .venv/bin/python neurons/miner.py \
      --actual_batch_size {{ actual_batch_size }} \
      --wallet.name {{ wallet_name }} \
      --wallet.hotkey {{ wallet_hotkey }} \
      --device {{ device }} \
      --netuid "{{ netuid }}" \
      --subtensor.network "{{ subtensor_network }}" \
      --sync_state
    EXIT_CODE=$?
    echo "neurons/miner.py exited with code ${EXIT_CODE}. Restarting in 5 seconds..."
    sleep 5
done
