COMPOSE_PROJECT_NAME=subtensor-prod
COMPOSE_FILE={{ subtensor_base_path }}/docker-compose.yml
SUBTENSOR_IMAGE={{ subtensor_image }}
SUBTENSOR_VERSION={{ subtensor_version }}
SUBTENSOR_NETWORK={{ subtensor_network }}
SUBTENSOR_NODE_TYPE={{ subtensor_node_type | default('lite') }}
SUBTENSOR_REPLICAS={{ subtensor_replicas }}

SUBTENSOR_P2P_PORT_START={{ subtensor_p2p_port_start }}
SUBTENSOR_RPC_PORT_START={{ subtensor_rpc_port_start }}
SUBTENSOR_WS_PORT_START={{ subtensor_ws_port_start }}

SUBTENSOR_CPU_LIMIT={{ subtensor_cpu_limit }}
SUBTENSOR_MEMORY_LIMIT={{ subtensor_memory_limit }}
SUBTENSOR_MEMORY_SWAP_LIMIT={{ subtensor_memory_swap_limit }}

SUBTENSOR_BASE_PATH={{ subtensor_base_path }}
SUBTENSOR_DATA_DIR={{ subtensor_data_dir }}
SUBTENSOR_LOGS_DIR={{ subtensor_logs_dir }}

SUBTENSOR_MONITORING_ENABLED={{ subtensor_monitoring_enabled | default(true) | lower }}
SUBTENSOR_METRICS_PORT={{ subtensor_metrics_port }}

BACKUP_ENABLED={{ enable_backup | default(true) | lower }}
BACKUP_STORAGE_PATH={{ backup_storage_path }}
BACKUP_RETENTION_DAYS={{ backup_retention_days | default(7) }}