apiVersion: 1

datasources:
  - name: Templar Version JSON API
    type: marcusolsson-json-datasource
    uid: templar-version-json
    access: proxy
    isDefault: false
    jsonData:
      url: '{{ templar_version_api_url }}'
    version: 1
    editable: true
